*{
    scroll-behavior: smooth;
}
#header{
    width:100%;
    padding:20px 60px;
    height: 12vh;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(20, 153, 106);
}
#header .logo h1{
    color:white;
    font-size: 22px;
}
#header .nav-bar{
    width:360px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav-bar .nav-item{
    color:whitesmoke;
    font-size:14px;
    text-transform: uppercase;
    padding:6px 0px;
}
.nav-bar  .nav-item:hover{
    border-top:1px solid whitesmoke;
    border-bottom:1px solid whitesmoke;
}
.nav-bar .logout-admin{
    color:white;
    background-color: #b91515;
    padding:8px 14px;
    font-size:14px;
    border-radius: 4px;
    font-weight: 700;
}

#main{
    width:100%;
    height:calc(100vh - 12vh);
    padding:20px 60px;
    overflow: scroll;
}
#main h2{
    font-size:22px;
    padding-top:20px;
}
#user-list{
    width:100%;
    min-height:550px;
}
#user-list table{
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}
#user-list table thead{
    background-color:#00cc83;
    color:white;
    height:48px;
}
#user-list table tbody tr{
    height:38px;
}
#user-list table tbody tr:nth-of-type(2),
#user-list table tbody tr:nth-of-type(4),
#user-list table tbody tr:nth-of-type(6),
#user-list table tbody tr:nth-of-type(8),
#user-list table tbody tr:nth-of-type(10),
#user-list table tbody tr:nth-of-type(12),
#user-list table tbody tr:nth-of-type(14),
#user-list table tbody tr:nth-of-type(16),
#user-list table tbody tr:nth-of-type(18),
#user-list table tbody tr:nth-of-type(20){
    background-color: rgb(236, 236, 236);
}
#user-list table .del-user{
    padding: 8px 16px;
    color:whitesmoke;
    background-color: rgb(153, 37, 37);
    font-size: 16px;
    border-radius: 4px;
}
#feedback-review{
    width:100%;
    min-height:550px;
}
#feedback-review .review-fb{
    padding:20px;
    width:100%;
    border-radius: 3px;
    background-color: rgb(241, 241, 241);
}
.review-fb .user-det p{
    font-size: 14px;
}
.review-fb .user-msg{
    background-color: white;
    padding:6px 10px;
    border-radius: 3px;
}